<section id="form-action" role="application" class="cf">
  <div class="form-action-header content">
    <img src="/images/logo-empanadas.png" alt="Empanadas Argentinas Te Gusta">
    <h2 itemprop="name" class="cursive purple">Empanada Argentina</h2>
    <p class="form-action-header-text" itemprop="description">Entregamos para toda a cidade de São Paulo. Peça pelo WhatsApp (11) {{phoneNumber}}</p>
  </div>

  <div class="content">
      <label class="form-legend">Escolha os sabores e nos ligue</label>
{% for flavor,product in products %}
      <label class="label-flavor">
        <a href="{{product.url}}">{{product.name}} = R${{product.price}}</a>
      </label>
{% endfor %}
  </div>

</section><!-- #form-action -->
