

  <footer id="footer">
    <div class="content">
      <a href="/" title="Te Gusta Empanadas Argentinas">
      <img src="images/logo-te-gusta-empanadas.png" alt="Te Gusta Empanadas" id="logo-footer" />
      </a>

      <p class="footer-text fright">
      <span class="phone"><i class="ico ico-phone"></i>(11) 3782-2391</span>

      <span class="social-links">
        <i class="ico ico-facebook tweet"></i>
        <i class="ico ico-twitter like"></i>
        <i class="ico ico-youtube youtube"></i>
      </span>
      </p>
    </div>
  </footer><!-- #footer -->

<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
