

  <footer id="footer">
    <div class="content">
      <a href="/" title="Te Gusta Empanadas Argentinas">
      <img src="images/logo-te-gusta-empanadas.png" alt="Te Gusta Empanadas" id="logo-footer" />
      </a>

      <p class="footer-text fright">
      <a href="mailto:tegustaempanadas@gmail.com" class="footer-email">tegustaempanadas@gmail.com</a>
      <a href="tel:1137822391" class="phone"><i class="ico ico-phone"></i>(11) 3782-2391</a>

{% include "partials/social.html" %}
      </p>
    </div>
  </footer><!-- #footer -->

<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
