<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Te Gusta Empanadas Argentinas</title>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="//cdn.polyfill.io/v1/polyfill.min.js"></script>

  <link rel="alternate" href="http://tegustaempanadas.com.br" hreflang="pt-br" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>

  <link rel="canonical" href="{{canonical}}" />

  <link rel="image_src" href="/images/logo-te-gusta-empanadas.png" />
  <link rel="alternate" href="/sitemap.xml" type="application/rss+xml" title="Feed de Te Gusta Empanadas"  />

  <link rel="dns-prefetch" href="http://google-analytics.com" />

  <link rel="stylesheet" href="/stylesheets/all.min.css" type="text/css" />

  <meta name="google-site-verification" content="" />

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="description" content="{{description}}" />

  <meta name="p:domain_verify" content="" />

  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="activity" />
  <meta property="og:url" content="{{canonical}}/" />
  <meta property="og:image" content="http://tegustaempanadas.com.br/images/empanadas-home.png" />
  <meta property="og:description" content="{{description}}" />

  <meta name="dcterms.title" content="{{title}}">
  <meta name="dcterms.creator" content="Te Gusta Empanadas">
  <meta name="dcterms.description" content="{{description}}">

  <meta name="robots" content="all" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="10" />

  <meta name="rating" content="general" />


  <meta name="geo.region" content="BR-SP" />
  <meta name="geo.placename" content="São Paulo" />
  <meta name="geo.position" content="-23.6022679, -46.78821199999999" />
  <meta name="ICBM" content="-23.6022679, -46.78821199999999" />


  <script type="text/javascript" src="/javascripts/all.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36266607-1', 'tegustaempanadas.com.br');
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <header id="header" class="content">
    <a href="/" title="Te Gusta Empanadas Argentinas" id="logo">
    <img src="images/logo-te-gusta-empanadas.png" alt="Te Gusta Empanadas" />
    </a>

    <i class="ico ico-flag fright"></i>
    <p class="delivery-text clear-right fright">Entregamos na cidade de São Paulo: <span class="phone"><i class="ico ico-phone"></i> (11) 3782-2391</span>
    <i class="ico ico-facebook tweet"></i>
    <i class="ico ico-twitter like"></i>
    <i class="ico ico-youtube youtube"></i>
    </p>
    <nav id="nav" class="overflow clear-right fright">
      <ul>
        <li class="nav-item nav-item-home"><a href="">Home</a></li>
        <li class="nav-item nav-item-historia"><a href="">História</a></li>
        <li class="nav-item nav-item-cardapio"><a href="">Cardápio</a></li>
        <li class="nav-item nav-item-como-e-feito"><a href="">Como é feito?</a></li>
        <li class="nav-item nav-item-como-comprar"><a href="">Como comprar?</a></li>
      </ul>
    </nav>
  </header><!-- #header -->
