<nav id="nav" class="overflow clear-right fright">
  <ul>
    <li class="nav-item nav-item-home"><a href="/">Home</a></li>
    <li class="nav-item nav-item-historia"><a href="/historia.html">História</a></li>
    <li class="nav-item nav-item-cardapio"><a href="/cardapio.html">Cardápio</a></li>
    <li class="nav-item nav-item-como-e-feito"><a href="/como-e-feito.html">Como é feito?</a></li>
    <li class="nav-item nav-item-como-comprar"><a href="/como-comprar.html">Como comprar?</a></li>
  </ul>
</nav>
