{% extends "main.html" %}

{% block content %}

<article id="main" class="content">
  <aside id="how-buy" class="above" role="complementary">
    <h1>Não encontrei o conteúdo que você estava procurando - 404</h1>
  </aside><!-- #how-buy -->
  <div role="main">

    <h2 class="clear">Ops, essa página não existe!</h2>

    <p>Parece que você está tentando acessar um conteúdo que não está mais aqui.</p>
    <p>Volte para a home, e veja nossas empanadas.</p>

    <div class="clear"></div>
  </div>
</article><!-- #main -->
{% endblock %}
