{% extends "main.html" %}

{% block content %}
  <article id="main" class="content">
    <h1>História das Empanadas Argentinas</h1>
    <p>As Empanadas Argentinas são massas de farinha recheadas com carne, vegetais, queijos ou frutas, podem sem assadas ou fritas. Possuem formato de meia lua e seu fechamento é um enrolado característico chamado de ‘Bugre’ – que só é possível se fazer a mão.</p>

    <p>A origem é Persa, nasceram juntamente com as esfihas, e foram levadas para a Espanha. Na história as empanadas foram trazidas aos países latinos pela colonização espanhola, sua fabricação era mais simples, no início era uma simples massa de pão recheada com carne ou vegetais.</p>

    <p>A palavra empanada (in-panis, in-panata) significa “encerrar um alimento em massa ou pão para depois ser assado”. Tempos depois a elaboração da massa ficou mais complexa e se diferenciou do pão, foram adicionados na massa manteiga, gordura, e o recheio se tornou mais ‘nobre’.</p>

    <p>Podemos encontrar empanadas no Peru, Bolívia, Chile e Argentina, cada país possui sua receita típica, geralmente são recheadas com carne, azeitonas, uvas passas e temperadas com condimentos e pimenta.</p>

    <p>Há 30 anos atrás o chefe Calos Moraes aprendeu a receita das empanadas com um Argentino para quem trabalhava em um restaurante típico, desde então ele vem fazendo as empanadas nos encontros familiares e datas especiais. Anos depois resolveu montar a empresa Te Gusta Empanadas para levar à mesa dos amigos esta delícia, mantendo a receita original e a fabricação 100% artesanal que faz toda diferença na qualidade da massa e no sabor.</p>

    <p>Convidamos você a vir visitar nossa cozinha e experimentar estas delícias! Faça seu pedido pelo site ou pelo telefone que entregamos na sua casa para que você possa aproveitar junto com sua família e seus amigos.</p>

    <p>
      <small>
        Fonte: <a href="https://pt.wikipedia.org/wiki/Empanada">https://pt.wikipedia.org/wiki/Empanada</a>
      </small>
    </p>
  </article>
{% endblock %}
