{% extends "main.html" %}

{% block content %}
  <article id="main" class="content">

    <h1>História das Empanadas </h1>

    <p>As Empanadas podem ser consideradas como ‘pastéis de forno’, sua massa de farinha, água e banha é recheada com carnes, vegetais, queijos ou frutas, elas podem sem assadas ou fritas. Possuem formato de meia lua e seu fechamento é um enrolado característico chamado de ‘Repulgue’ – que só é possível se fazer a mão.</p>

    <p>A origem das Empanadas é Persa, nasceram juntamente com as esfihas e foram levadas para a Espanha. As empanadas foram trazidas aos países latinos pela colonização espanhola, sua fabricação era mais simplificada, no início era uma simples massa de pão recheada com carne ou vegetais.</p>

    <p>A palavra empanada (in-panis, in-panata) significa “encerrar um alimento em massa ou pão para depois ser assado”. Tempos depois a elaboração da massa ficou mais complexa e se diferenciou do pão, foram adicionados na massa manteiga, gordura, e o recheio se tornou mais ‘nobre’.</p>

    <p>As Empanadas fazem parte da cultura da América Latina, podem ser encontradas em diversos países como: Argentina, Bolívia, Chile, Colômbia, Uruguai, Venezuela e também no Brasil, cada país da América Latina tem sua maneira de rechear, temperar e trabalhar com a massa.</p>

    <h2>História da Salteña</h2>
    <p>O Nome Saltenha (Salteña) é uma referência à cidade de Salta na Argentina, onde nasceu a senhora Juana Gorriti, que começou a vender empanadas para sustento de sua família na Bolívia onde se instalaram fugidos da ditatura na Argentina (1829-1853).</p>

    <p>As ‘Empanadas da Juana vinda de Salta’ fizeram sucesso na Bolívia e o alimento no país ficou popularizado com o nome de Salteña.</p>

    <h2>História da Te Gusta Empanadas</h2>
    <p>O Senhor Carlos Rodrigues de Moraes nasceu no Ceará e veio para São Paulo para trabalhar seguindo o movimento de migração nordestina para o sudeste ocorrido entre os anos de 1850 e 1980. Da mesma forma a Dona Catarina Francisca Rocha de Moraes saiu de Minas Gerais, somente com a roupa do corpo e chinelos nos pés, ainda criança, para vir para São Paulo na busca de uma vida melhor e emprego.</p>

    <p>Os dois encontraram no ramo de restaurantes uma paixão, desta paixão se originou um casamento, dois filhos e depois uma empresa. </p>

    <p>O senhor Carlos trabalhou como garçom na região de Pinheiros e Jardim Paulista e passou por uma rotisseria argentina há 30 anos atrás onde aprendeu com o dono argentino a receita da famosa empanada. A rotisseria foi vendida, e os donos voltaram ao país de origem. Desde então o Senhor Carlos vem fazendo as empanadas nos encontros familiares e passeios.</p>

    <p>A Dona Catarina, a mais versátil da família, já foi empregada doméstica, babá, costureira, caixa, copeira, ajudante de cozinha e cozinheira. Em um restaurante que trabalhou aprendeu a receita do Strudel com uma senhora neta de húngaros, a Dona Catarina tinha o desafio de aprender a receita e cuidar de toda produção em apenas uma semana. Ela ficou tão encantada com o processo de fabricação do Strudel que anos depois começou a investir em sua cozinha própria, com todo o maquinário e móveis necessários para trabalhar com o doce folhado.</p>

    <p>A empresa foi fundada em 2004 e começou a vender, sob encomenda, o Strudel com a Marca Strudel Folhadinho, que desde então vem ganhando clientes fiéis com sua qualidade na fabricação 100% artesanal e ingredientes selecionados. O diferencial do Strudel Folhadinho, com sugere o nome, é a qualidade da massa folhada que possui várias camadas e crocância. Hoje o cardápio possui Strudels doces e salgados e a empresa é umas das únicas que fabrica o Mini Strudel em São Paulo.</p>

    <p>Em 2015 o casal e seus dois filhos se reuniram para conversar e decidiram levar as empanadas à mesa de outras famílias por meio do Disk Empanadas. Hoje a empresa atende as regiões do Butantã, Morumbi, Pinheiros, município de Osasco, Cotia e Taboão da Serra.</p>

    <p>A Te Gusta Empanadas tem como objetivo levar à mesa dos clientes, que são considerados como membros da família, esta delícia, para que possam compartilhar momentos especiais com seus entes queridos assim como a família Moraes faz há 30 anos.</p>

    <p>Convidamos você a vir visitar nossa cozinha e experimentar estas delícias! </p>
    <p>Faça seu pedido pelo site ou pelo telefone que entregamos na sua casa para que você possa aproveitar junto com sua família e seus amigos.</p>

    <h2>Eventos</h2>
    <p>Em 06/08 e 07/08 a Te Gusta Empanadas participou da Festa das Nações Gourmet para celebrar o aniversário de 460 anos da Mooca, o evento contou com um público de mais de 10mil pessoas e foram consumidas mais de 900 empanadas! </p>

    <p>O evento foi realizado no Clube Atlético Juventus, ponto de localização privilegiado no bairro charmoso da Mooca, e contou com representantes de diversos países como: Peru, Brasil, Síria, México, EUA, Alemanha, França, Espanha, Índia, África, Japão, e Argentina representada por nós da Te Gusta Empanadas.</p>


    <p>
      <small>
        Fonte: <a href="https://pt.wikipedia.org/wiki/Empanada">https://pt.wikipedia.org/wiki/Empanada</a>
      </small>
    </p>
  </article>
{% endblock %}
