{% extends "main.html" %}

{% block content %}
  <section id="banner">
  <div class="content cf">
    <div id="banner-info" class="fleft">
      <h1 id="banner-title">Empanadas <span>Argentinas</span></h1>
      <p id="banner-text">Nossas empanadas típico
      argentinas são preparadas
      pelo nosso chef brasileiro.</p>

      <a href="/historia.html" id="learn-more">
        <span class="learn-more-title title">Quer saber mais?</span>
        <span class="learn-more-text">Clique e conheça a história das Empanadas Argentinas!</span>
      </a><!-- #learn-more -->

    </div><!-- #banner-info -->

    <div id="banner-splash">
      <span class="banner-splash-unit">R$</span>
      <span class="banner-splash-price">5</span>
      <span class="banner-splash-cents">,00</span>

      <span class="banner-splash-text">unidade *</span>
    </div><!-- #banner-splash -->

    <figure id="banner-img" class="fright">
      <img src="images/empanadas-home.png" alt="Empanadas" />
      <figcaption>* serão comercializadas na quantidade mínima de 15</figcaption>
    </figure>
  </div>
  </section><!-- #banner -->

  <section id="menu">
  <div class="content cf">
    <ul>
      <li class="menu-item">
        <a href="/cardapio.html">
        <i class="ico ico-menu ico-menu-item"></i>
        <span class="menu-text">
          Conheça nosso
          <span class="menu-name title">Cardápio</span>
        </span>
        </a>
      </li>
      <li class="menu-item">
        <!-- <a href="/como-e-feito.html"> -->
        <i class="ico ico-menu ico-how"></i>
        <span class="menu-text">
          Veja como
          <span class="menu-name title">Fazemos</span>
        </span>
        <!-- </a> -->
      </li>
      <li class="menu-item">
        <!-- <a href="/como-comprar.html"> -->
        <i class="ico ico-menu ico-buy"></i>
        <span class="menu-text">
          Saiba como
          <span class="menu-name title">Comprar</span>
        </span>
        <!-- </a> -->
      </li>
    </ul>
  </div>
  </section><!-- #menu -->

  <article id="main">
  <div class="content cf">
    <p>Empanadas Típico Argentinas para entrega na cidade de São Paulo.</p>
    <p>O frete é grátis.</p>
  </div>
  </article>


{% endblock %}

