{% extends "main.html" %}

{% block content %}
  <section id="banner" class="content overflow">
    <div id="banner-info" class="fleft">
      <h1 id="banner-title">Empanadas <span>Argentinas</span></h1>
      <p id="banner-text">Nossas empanadas típico
      argentinas são preparadas
      pelo nosso chef brasileiro.</p>
    </div><!-- #banner-info -->

    <figure id="banner-img" class="fright">
      <img src="images/empanadas-home.png" alt="Empanadas" />
      <figcaption>* serão comercializadas na quantidade mínima de 15</figcaption>
    </figure>
  </section><!-- #banner -->
{% endblock %}
