
@font-face {
  font-family: 'bira';
  src: url('../fonts/bira_personal_use_only-webfont.eot');
  src: url('../fonts/bira_personal_use_only-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bira_personal_use_only-webfont.woff2') format('woff2'),
       url('../fonts/bira_personal_use_only-webfont.woff') format('woff'),
       url('../fonts/bira_personal_use_only-webfont.ttf') format('truetype'),
       url('../fonts/bira_personal_use_only-webfont.svg#bira_personal_use_onlyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yanone_kaffeesatzlight';
  src: url('../fonts/yanonekaffeesatz-light-webfont.eot');
  src: url('../fonts/yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/yanonekaffeesatz-light-webfont.woff2') format('woff2'),
       url('../fonts/yanonekaffeesatz-light-webfont.woff') format('woff'),
       url('../fonts/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
       url('../fonts/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
  font-weight: normal;
  font-style: normal;

}
