#header {
  height: 315px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.phone {
  color: #db3114;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 36px;
  height: 36px;
  display: inline-block;
}

.delivery-text { line-height: 2em; margin-top: 10px; }

.phone .ico { float: left; margin-right: 7px; }



@media only screen and (max-width: 960px) {
  #header { margin-bottom: 0; }

  #header .social-links,
  #header .phone { display: block; }

  .delivery-text { margin: 0; }
}

@media only screen and (max-width: 600px) {
  #header .ico-flag { position: absolute; top: 5px; right: 20px; }

  #header .phone, #header .social-links { display: inline; }
}

@media only screen and (max-width: 500px) {
  #header .phone, #header .social-links { display: block; }
}
