#logo {
  float: left;
}

#banner-img figcaption { color: #fff; }

.nav-item {
  float: left;
  position: relative;
  font-family: bira, sans-serif;
}

.nav-item a {
  color: #db3114;
}

.nav-item a:hover { opacity: 0.8; }

#phone {
  color: #db3114;
}
