.ico {
  position: relative;
  background: url('../images/sprite-icons-social.png') no-repeat;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.ico-phone {
  background-position: -170px 0;
}

.ico-flag { background-position: -127px 0; }

.ico-twitter { background-position: -42px 0; }
.ico-youtube { background-position: -84px 0; }
.ico-facebook { background-position: 0 0; }

.ico-menu {
  height: 126px;
  width: 100px;
  background-image: url('../images/sprite-icons.png');
}

.ico-how { background-position: -109px 0; width: 120px; }
.ico-buy { background-position: -230px 0; }
