.ico {
  position: relative;
  background: url('../images/sprite-icons-social.png') no-repeat;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.ico-phone {
  background-position: -170px 0;
}

.ico-flag { background-position: -127px 0; }

.ico-twitter { background-position: -42px 0; }
.ico-youtube { background-position: -84px 0; }
.ico-facebook { background-position: 0 0; }
