* { box-sizing: border-box; }

html, body { min-height: 100%; }

body {
  background: url('../images/bg-site.png') no-repeat center top;
  font: 18px 'yanone_kaffeesatzlight', sans-serif;
}
body.home {
  background-image: url('../images/bg-site-home.jpg');
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: bira, sans-serif;
  margin-bottom: 0.5em;
}
h1 { font-size: 2.3em; color: #E74D26; }

a { text-decoration: none; }
a:hover, a:focus { opacity: 0.9; }

.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }
.clear-right { clear: right; }
.overflow { overflow: hidden; }

.cf:before, .cf:after { content: " "; display: table }
.cf:after { clear: both }

.is-hidden { display: none; }

*::selection { background: #CC3A21; color: #fff; }
*::-moz-selection { background: #CC3A21; color: #fff; }

p { margin-bottom: 1em; }

.content {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

#footer {
  padding-top: 20px;
  background: url('../images/bg-footer.jpg') repeat-x center top;
  height: 170px;
}

#footer .logo img {
  width: 200px;
}

.footer-text { margin-top: 45px; }
.footer-email {
  display: block;
  color: #000;
  text-align: right;
  margin-bottom: 5px;
}

.social-links { margin-left: 10px; }


@media only screen and (min-width: 1140px) {
  body { min-width: 1040px; }
}

@media only screen and (max-width: 1139px) {
  body { min-width: 100%; }
  .content { width: 100%; padding: 0 20px; box-sizing: border-box; }

  img { max-width: 100% !important; height: auto !important; }
}

@media only screen and (max-width: 800px), screen and (min-width: 1920px) {
  body,
  body.home { background: none; }

  #header { margin-bottom: 0; }
  #header,
  #footer,
  #banner { height: auto; padding-bottom: 20px; }

  #header,
  #footer { background: url('../images/bg-header-responsive.png'); }
  #banner { background: url('../images/bg-banner-responsive.png'); }
  #menu { background: url('../images/bg-menu-responsive.png'); }
}

@media only screen and (max-width: 800px) {
  .footer-text { float: none; }
}

@media only screen and (min-width: 1920px) {
  .content { width: 1600px; }
}

@media only screen and (max-width: 700px) {
  body { font-size: 16px; }

  .logo img { width: 250px; }
  #footer .logo img { width: 140px; }
}

@media only screen and (max-width: 480px) {
  .logo img { width: 200px; }
}
