html, body { min-height: 100%; }

body {
  background: url('../images/bg-site.jpg') no-repeat center top;
  font: 18px 'yanone_kaffeesatzlight', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: bira, sans-serif;
}

a { text-decoration: none; }
a:hover, a:focus { opacity: 0.9; }

.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }
.clear-right { clear: right; }
.overflow { overflow: hidden; }

.cf:before, .cf:after { content: " "; display: table }
.cf:after { clear: both }

.is-hidden { display: none; }

*::selection { background: #CC3A21; color: #fff; }
*::-moz-selection { background: #CC3A21; color: #fff; }

.content {
  width: 1140px;
  margin: 0 auto;
}

#footer {
  padding-top: 20px;
  background: url('../images/bg-footer.jpg') repeat-x center top;
  height: 170px;
}

#logo-footer {
  width: 200px;
}

.footer-text { margin-top: 50px; }
.social-links { margin-left: 10px; }
