#menu {
  height: 430px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.menu-item {
  width: 30%;
  margin-right: 5%;
  float: left;
  padding: 40px 0;
  border-right: 1px solid #d3d2d2;
  box-sizing: border-box;
}

.menu-item a { color: #000; }

.menu-item:last-child { margin-right: 0; border: none; }

.menu-item .ico { float: left; margin-right: 10px; }

.menu-name {
  display: block;
  color: #cd371d;
  font-size: 2em;
}

.menu-text { margin-top: 30px; display: block; }



@media only screen and (max-width: 900px) {
  .menu-item { width: 33.33%; margin-right: 0;}
  .ico-menu { transform: scale(0.7, 0.7); }
}

@media only screen and (max-width: 800px) {
  .menu-name { font-size: 1.3em; }
  #menu { height: auto; padding: 20px; }
  .menu-item { padding: 10px 0; }
}

@media only screen and (max-width: 700px) {
  .menu-item { text-align: center; }
  .menu-item .ico { display: block; float: none; margin: 0 auto; }
  .menu-text { margin-top: 0; }
}


@media only screen and (max-width: 479px) {
  .menu-item { width: 100%; border: none; text-align: left; padding: 0; }
  .menu-item .ico { float: left; }
  .menu-text { margin-top: 50px; }
}
