#nav { margin-top: 70px; }

.nav-item {
  float: left;
  position: relative;
  font-family: bira, sans-serif;
  font-size: 1.5em;
  margin-right: 25px
}

.nav-item:last-child { margin-right: 4px; }

.nav-item a {
  color: #db3114;

  text-shadow:
  /* first layer */
  -1px 0 white,
  0 1px white,
  1px 0 white,
  0 -1px white,

  /* second layer */
  -1px -1px 0px black,
  -1px -1px 0px black,
  0px -1px 0px black,
  1px -1px 0px black,
  1px -1px 0px black,
  1px -1px 0px black,
  1px  0px 0px black,
  1px  1px 0px black,
  1px  1px 0px black,
  1px  1px 0px black,
  0px  1px 0px black,
  -1px  1px 0px black,
  -1px  1px 0px black,
  -1px  1px 0px black,
  -1px  0px 0px black,
  -1px -1px 0px black;
}

.nav-item a:hover { opacity: 0.8; }
